@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, dark --prefersdark, light;
}
@import "swiper/css";
.swiper-button-next,
.swiper-button-prev {
  color: black;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 10px;
}

.active{
  color:darkblue;
  font-weight: bold;
  text-decoration: underline;
}